.App {
  text-align: center;
}

.App-header {
  background-color: #281c40;
  top: 0;
  min-height: 10vh;
  display: flex;
  min-width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  z-index: 100;
}

.Name {
  padding: 0.4em;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.LOGO {
  float:left;
  padding: 20px;
  height: 2em;
} 

.LOGO:hover {
  cursor: pointer;
}

.content-wrapper {
  min-height: 100vh;
}

/* ELEMENT-CONTENT */

.element-content {
  top: 10vh;
  min-height: 90vh;
  width: 100%;
  background-color: lightcyan;
  display: flex;
}

/* ELEMENT LIST */

.element-list{
  background:lightcyan;
  width: 30%;
  padding: 0px 0px 0px 0px;
}

.element-list-item li{
  display: inline-block;
  padding: 10px 10px 10px 10px;
  width: 100%;
  color: black;
}

.element-list-item li:hover{
  background-color: lightgray;
  color:#281c40;
  -webkit-transition-duration: 0.4s; /* For Safari */
  transition-duration: 0.4s;
  border-radius: 25px 0px 0px 25px;
  box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.4);
  cursor: pointer;
}

.Inline{
  display: inline;
  font-weight: lighter;
  margin: 0;
  line-height: 5px;
}

/* ELEMENT DETAIL */

.element-detail{
  flex: 1;
  position: fixed;
  left:30%;
  width: 70%;
  min-height: 90vh;
  background-color: lightgray;
  z-index: 10;
}

/* RESPONSIVE SETTINGS */

